body{
  padding-top:80px;
  word-wrap:break-word;
  background-image:url(./img/DoxDsAUW0AA_INc.jpg_large);
  background-size:cover;
  color: darkblue;
}
img{
  height: 200px;
}
new {
  margin-top: 33%;
}
.welp {
  background: darkgray;
}